asgiref==3.11.1
attrs==23.2.0
coverage==7.13.5
Django==6.0.4
django-rest-framework==0.1.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
flake8==7.3.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
mccabe==0.7.0
pillow==12.2.0
psycopg==3.3.3
psycopg-binary==3.3.3
pycodestyle==2.14.0
pyflakes==3.4.0
PyJWT==2.12.1
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.30.0
sqlparse==0.5.5
tzdata==2025.3
uritemplate==4.2.0
